# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Git
.git/
.gitignore

# IDEs
.vscode/
.idea/

# Data
.data/
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db
